body {
    background-image: url("Main2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 70px;
}

.header-nav-element {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.contant-text {
   color: white;
   letter-spacing: 25px;
}

.text-1 {
    font-size: 30px;
    margin-bottom: 60px;
    
}

.text-2 {
    font-size: 70px;
    margin-bottom: 60px;
   
}

.explore-link {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 15px;
    letter-spacing: 7px;
    display: inline-block;
}

.text-3 {
    font-size: 30px;
}

.slogan {
    margin-bottom: 200px;
}